* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--black, #000);
}

.Home {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

@media screen and (min-width: 370px) and (max-width: 991px) {
  .Home {
    display: grid !important;
    grid-template-columns: 2fr !important;
  }
}
@media screen and (min-width: 2100px) {
  .Home {
    display: grid !important;
    grid-template-columns: 1fr 7fr !important;
  }
}
#leftSide {
  width: 351px;
  padding-top: 53px;
  padding-right: 40px;
  padding-left: 40px;
  display: flex;
  justify-content: center;
}
#leftSide .content {
  width: 270px;
  height: 398px;
}
#leftSide .content .logo a {
  display: flex;
  justify-content: start;
  align-items: center;
}
#leftSide .content .logo .mainLogo img {
  width: 147.27px;
  height: 14.114px;
  flex-shrink: 0;
  object-fit: contain;
}
#leftSide .content .logo .secondaryLogo img {
  width: 39.806px;
  height: 40.225px;
  flex-shrink: 0;
  border-radius: 8.171px;
  background: #1E1E1E;
}
#leftSide .content nav {
  margin-top: 37.78px;
}
#leftSide .content nav ul {
  padding: 0;
  margin: 0;
}
#leftSide .content nav ul .hoverGray {
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 14px 15px;
  display: flex;
  width: 270px;
  height: 48px;
  align-items: center;
  color: var(--white, #FFF);
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  text-decoration: none;
}
#leftSide .content nav ul .hoverGray:hover {
  background-color: #1E1E1E;
}
#leftSide .content nav ul .hoverGray li {
  list-style: none;
}
#leftSide .content nav ul .component {
  list-style: none;
}
#leftSide .content nav ul .component .accordion .accordion-item {
  border-color: #000;
  background-color: #000;
}
#leftSide .content nav ul .component .accordion .accordion-item .accordion-header {
  border-radius: 12px;
  padding-bottom: 0px;
  background-color: #000;
  border-color: #000;
  width: 268px;
  height: 48px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--white, #FFF);
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  padding: 14px 15px 14px 15px;
}
#leftSide .content nav ul .component .accordion .accordion-item .accordion-header:hover {
  background-color: #1E1E1E !important;
  border-color: #1E1E1E !important;
}
#leftSide .content nav ul .component .accordion .accordion-item .accordion-header img {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  object-fit: contain;
  transition: transform 0.2s ease-in-out;
}
#leftSide .content nav ul .component .accordion .accordion-item .accordion-header.active {
  background-color: #232323;
  border-color: #232323;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
#leftSide .content nav ul .component .accordion .accordion-item .accordion-content {
  padding: 14px 15px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border-color: #232323;
  background-color: #232323;
  transition: max-height 0.3s ease;
  max-height: 0;
  overflow: hidden;
}
#leftSide .content nav ul .component .accordion .accordion-item .accordion-content ul a {
  text-decoration: none;
}
#leftSide .content nav ul .component .accordion .accordion-item .accordion-content ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  cursor: pointer;
  padding: 14px 15px 14px 15px;
  align-items: center;
  color: var(--white, #FFF);
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  list-style: none;
  padding: 14px 15px 14px 15px;
  border-radius: 10px;
}
#leftSide .content nav ul .component .accordion .accordion-item .accordion-content ul li .buttonNavPlanned a {
  border-radius: 22px;
  color: #EAF0FE;
  border: 1px solid #302C2C;
  background-color: #302C2C;
  padding: 7px 16px 0px 16px;
  display: inline-block;
  text-decoration: none;
  width: 88px;
  height: 32px;
  line-height: 16.94px;
  font-size: 14px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
}
#leftSide .content nav ul .component .accordion .accordion-item .accordion-content ul li:hover {
  background-color: #0C0A0D;
}

#subMenu {
  display: none;
  padding: 30px 10px 30px 10px;
  z-index: 6;
  background-color: #000;
  height: 100vh;
  position: absolute;
  z-index: 9999;
  left: 353px;
  top: 0;
  border-right: 1px solid #232323;
  width: 243px;
}
#subMenu ul {
  padding: 0;
}
#subMenu ul a {
  font-family: "Inter", sans-serif;
  color: #FFFFFF;
  text-decoration: none;
}
#subMenu ul a li {
  font-family: "Inter", sans-serif;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 14px 15px 14px 15px;
  Width: 223px;
  Height: 48px;
  list-style: none;
}
#subMenu ul a li:hover {
  background-color: #232323;
  border-color: #232323;
}

#rightSide .subMenu_content {
  display: grid;
  grid-template-columns: 1fr 5fr;
}
#rightSide .subMenu_content #subMenuStyle {
  display: block;
  padding: 30px 10px 30px 10px;
  z-index: 6;
  background-color: #000;
  height: 100%;
  border-right: 1px solid #232323;
  width: 243px;
}
#rightSide .subMenu_content #subMenuStyle ul {
  padding: 0;
}
#rightSide .subMenu_content #subMenuStyle ul a {
  font-family: "Inter", sans-serif;
  color: #FFFFFF;
  text-decoration: none;
}
#rightSide .subMenu_content #subMenuStyle ul a li {
  font-family: "Inter", sans-serif;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 14px 15px 14px 15px;
  Width: 223px;
  Height: 48px;
  list-style: none;
}
#rightSide .subMenu_content #subMenuStyle ul a li:hover {
  background-color: #232323;
  border-color: #232323;
}
#rightSide .subMenu_content #content {
  position: relative;
}
#rightSide .subMenu_content #content #smallAndMediumMenu {
  padding: 20px;
  border-bottom: 1px solid #232323;
  margin: 0;
  padding: 0;
  padding: 20px;
  width: auto;
}
#rightSide .subMenu_content #content #smallAndMediumMenu .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#rightSide .subMenu_content #content #smallAndMediumMenu .content .imagesesH {
  height: 25.5497379303px;
}
#rightSide .subMenu_content #content #smallAndMediumMenu .content .imagesesH a {
  display: flex;
  justify-content: start;
  align-items: center;
  text-decoration: none;
}
#rightSide .subMenu_content #content #smallAndMediumMenu .content .imagesesH a img {
  object-fit: contain;
}
#rightSide .subMenu_content #content #smallAndMediumMenu .content .HamburgerMenu img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}
#rightSide .subMenu_content #content #smallAndMediumNavBar {
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 100000;
  margin: 0;
  padding: 0;
  background-color: #000;
  position: absolute;
  display: none;
}
#rightSide .subMenu_content #content #smallAndMediumNavBar .contents nav {
  margin-top: 37.78px;
}
#rightSide .subMenu_content #content #smallAndMediumNavBar .contents nav ul {
  padding: 0;
  margin: 0;
}
#rightSide .subMenu_content #content #smallAndMediumNavBar .contents nav ul .hoverGrays {
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 14px 15px;
  display: flex;
  height: 48px;
  align-items: center;
  color: var(--white, #FFF);
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  text-decoration: none;
}
#rightSide .subMenu_content #content #smallAndMediumNavBar .contents nav ul .hoverGrays:hover {
  background-color: #1E1E1E;
}
#rightSide .subMenu_content #content #smallAndMediumNavBar .contents nav ul .hoverGrays li {
  list-style: none;
}
#rightSide .subMenu_content #content #smallAndMediumNavBar .contents nav ul .component {
  list-style: none;
}
#rightSide .subMenu_content #content #smallAndMediumNavBar .contents nav ul .component .accordion .accordion-item {
  border-color: #000;
  background-color: #000;
}
#rightSide .subMenu_content #content #smallAndMediumNavBar .contents nav ul .component .accordion .accordion-item .accordion-header {
  border-radius: 12px;
  padding-bottom: 0px;
  background-color: #000;
  border-color: #000;
  height: 48px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--white, #FFF);
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  padding: 14px 15px 14px 15px;
}
#rightSide .subMenu_content #content #smallAndMediumNavBar .contents nav ul .component .accordion .accordion-item .accordion-header:hover {
  background-color: #1E1E1E !important;
  border-color: #1E1E1E !important;
}
#rightSide .subMenu_content #content #smallAndMediumNavBar .contents nav ul .component .accordion .accordion-item .accordion-header img {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  object-fit: contain;
  transition: transform 0.2s ease-in-out;
}
#rightSide .subMenu_content #content #smallAndMediumNavBar .contents nav ul .component .accordion .accordion-item .accordion-header.active {
  background-color: #232323;
  border-color: #232323;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
#rightSide .subMenu_content #content #smallAndMediumNavBar .contents nav ul .component .accordion .accordion-item .accordion-content {
  padding: 14px 15px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border-color: #232323;
  background-color: #232323;
  transition: max-height 0.3s ease;
  max-height: 0;
  overflow: hidden;
}
#rightSide .subMenu_content #content #smallAndMediumNavBar .contents nav ul .component .accordion .accordion-item .accordion-content ul a {
  text-decoration: none;
}
#rightSide .subMenu_content #content #smallAndMediumNavBar .contents nav ul .component .accordion .accordion-item .accordion-content ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  cursor: pointer;
  padding: 14px 15px 14px 15px;
  align-items: center;
  color: var(--white, #FFF);
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  list-style: none;
  padding: 14px 15px 14px 15px;
  border-radius: 10px;
}
#rightSide .subMenu_content #content #smallAndMediumNavBar .contents nav ul .component .accordion .accordion-item .accordion-content ul li .buttonNavPlanned a {
  border-radius: 22px;
  color: #EAF0FE;
  border: 1px solid #302C2C;
  background-color: #302C2C;
  padding: 7px 16px 0px 16px;
  display: inline-block;
  text-decoration: none;
  width: 88px;
  height: 32px;
  line-height: 16.94px;
  font-size: 14px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
}
#rightSide .subMenu_content #content #smallAndMediumNavBar .contents nav ul .component .accordion .accordion-item .accordion-content ul li:hover {
  background-color: #0C0A0D;
}
@media screen and (min-width: 375px) and (max-width: 640px) {
  #rightSide .subMenu_content #content #smallAndMediumNavBar {
    right: 0;
    width: 80%;
    padding: 30px;
  }
  #rightSide .subMenu_content #content #smallAndMediumNavBar .contents {
    margin: 0 auto;
    width: 100%;
  }
}
@media screen and (min-width: 641px) and (max-width: 1007px) {
  #rightSide .subMenu_content #content #smallAndMediumNavBar {
    right: 0;
    width: calc(40% - (1007px - 100%) / 366);
    padding: 30px;
  }
  #rightSide .subMenu_content #content #smallAndMediumNavBar .contents {
    margin: 0 auto;
    width: 100%;
  }
}
#rightSide .subMenu_content #content #subMenus {
  z-index: 100000;
  display: none;
  padding: 30px 10px 30px 10px;
  background-color: #000;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  border-right: 1px solid #232323;
  width: 100%;
}
#rightSide .subMenu_content #content #subMenus ul {
  padding: 0;
}
#rightSide .subMenu_content #content #subMenus ul .menuTitle {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 14px 15px 14px 15px;
  font-family: "Inter", sans-serif;
  color: #FFFFFF;
}
#rightSide .subMenu_content #content #subMenus ul .menuTitle .icon img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}
#rightSide .subMenu_content #content #subMenus ul .menuTitle .text {
  margin-left: 10px;
}
#rightSide .subMenu_content #content #subMenus ul .menuTitle:hover {
  background-color: #232323;
  border-color: #232323;
}
#rightSide .subMenu_content #content #subMenus ul a {
  font-family: "Inter", sans-serif;
  color: #FFFFFF;
  text-decoration: none;
}
#rightSide .subMenu_content #content #subMenus ul a li {
  font-family: "Inter", sans-serif;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 14px 15px 14px 15px;
  Width: 223px;
  Height: 48px;
  list-style: none;
}
#rightSide .subMenu_content #content #subMenus ul a li:hover {
  background-color: #232323;
  border-color: #232323;
}
@media screen and (min-width: 375px) and (max-width: 640px) {
  #rightSide .subMenu_content #content #subMenus {
    width: 80%;
  }
}
@media screen and (min-width: 641px) and (max-width: 1007px) {
  #rightSide .subMenu_content #content #subMenus {
    width: calc(40% - (1007px - 100%) / 366);
  }
}
#rightSide .subMenu_content #content #blogMainCard .blogCard {
  margin-right: 89px;
  margin-top: 48px;
  margin-left: 88px;
  width: auto;
  height: 385px;
  border-radius: 18px;
  border: 1px solid #232323;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#rightSide .subMenu_content #content #blogMainCard .blogCard img {
  border-radius: 18px;
  width: 100%;
  height: 100%;
  object-fit: fill;
}
@media screen and (min-width: 992px) and (max-width: 1400px) {
  #rightSide .subMenu_content #content #blogMainCard .blogCard {
    margin-right: 30px;
    margin-top: 48px;
    margin-left: 30px;
  }
}
@media screen and (min-width: 370px) and (max-width: 991px) {
  #rightSide .subMenu_content #content #blogMainCard .blogCard {
    margin-right: 0px;
    margin-top: 48px;
    margin-left: 0px;
    height: 180px;
    border-radius: 0px;
  }
  #rightSide .subMenu_content #content #blogMainCard .blogCard img {
    border-radius: 0px;
  }
}
#rightSide .subMenu_content #content #textContent {
  width: auto;
  margin-right: 89px;
  margin-top: 48px;
  margin-left: 88px;
}
#rightSide .subMenu_content #content #textContent .text p {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--solid-gray-g-100, #C2C6CE);
}
@media screen and (min-width: 992px) and (max-width: 1400px) {
  #rightSide .subMenu_content #content #textContent {
    width: auto;
    margin-right: 30px;
    margin-top: 48px;
    margin-left: 30px;
  }
}
@media screen and (min-width: 370px) and (max-width: 991px) {
  #rightSide .subMenu_content #content #textContent {
    width: auto;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 48px;
  }
  #rightSide .subMenu_content #content #textContent .text p {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--solid-gray-g-100, #C2C6CE);
  }
}
#rightSide .subMenu_content #content #image {
  margin-right: 89px;
  margin-top: 48px;
  margin-left: 88px;
}
#rightSide .subMenu_content #content #image .imageContents {
  width: auto;
  height: auto;
  object-fit: contain;
}
#rightSide .subMenu_content #content #image .imageContents img {
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 992px) and (max-width: 1400px) {
  #rightSide .subMenu_content #content #image {
    margin-right: 30px;
    margin-top: 48px;
    margin-left: 30px;
  }
}
@media screen and (min-width: 370px) and (max-width: 991px) {
  #rightSide .subMenu_content #content #image {
    margin-right: 30px;
    margin-top: 48px;
    margin-left: 30px;
  }
}
#rightSide .subMenu_content #content #Title-text {
  margin-right: 89px;
  margin-top: 48px;
  margin-left: 88px;
  position: relative;
}
@media screen and (min-width: 1920px) {
  #rightSide .subMenu_content #content #Title-text .image {
    top: -140px;
    width: 787px;
  }
}
#rightSide .subMenu_content #content #Title-text .title h2 {
  font-family: "Inter", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFF;
}
#rightSide .subMenu_content #content #Title-text .text {
  margin-top: 20px;
  width: auto;
}
#rightSide .subMenu_content #content #Title-text .text p {
  color: var(--solid-gray-g-100, #C2C6CE);
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  text-align: justify;
}
@media screen and (min-width: 992px) and (max-width: 1400px) {
  #rightSide .subMenu_content #content #Title-text {
    margin-right: 30px;
    margin-top: 48px;
    margin-left: 30px;
  }
}
@media screen and (min-width: 370px) and (max-width: 991px) {
  #rightSide .subMenu_content #content #Title-text {
    margin-right: 30px;
    margin-top: 48px;
    margin-left: 30px;
  }
}
#rightSide .subMenu_content #content .imageses {
  bottom: 342px;
  right: 0px;
  position: absolute;
  background-image: url("../image/bg-imgbg-rose.png");
  width: 690px;
  height: 750px;
  transform: rotate(0deg);
  background-repeat: no-repeat;
  opacity: 0.9;
}
#rightSide .subMenu_content #content #iframe {
  position: relative;
  z-index: 2000000;
  padding-bottom: 50px;
  margin-right: 89px;
  margin-top: 48px;
  margin-left: 88px;
}
#rightSide .subMenu_content #content #iframe iframe {
  width: 100%;
  object-fit: contain;
}
@media screen and (min-width: 992px) and (max-width: 1400px) {
  #rightSide .subMenu_content #content #iframe {
    padding-bottom: 50px;
    margin-right: 30px;
    margin-top: 48px;
    margin-left: 30px;
  }
}
@media screen and (min-width: 370px) and (max-width: 991px) {
  #rightSide .subMenu_content #content #iframe {
    padding-bottom: 50px;
    margin-right: 30px;
    margin-top: 48px;
    margin-left: 30px;
    width: auto;
  }
  #rightSide .subMenu_content #content #iframe iframe {
    width: 100%;
    object-fit: contain;
  }
}
@media screen and (min-width: 370px) and (max-width: 991px) {
  #rightSide .subMenu_content {
    display: grid !important;
    grid-template-columns: 2fr !important;
  }
}
#rightSide #getStarted {
  position: relative;
  margin: 0;
}
#rightSide #getStarted .bg-image {
  left: 75px;
  bottom: 30px;
  position: absolute;
  width: 942.861px;
  background-repeat: no-repeat;
  height: 393.816px;
  background-size: cover;
  transform: rotate(0deg);
  opacity: 0.9;
  background-image: url("../image/bg-img_blue.png");
}
@media screen and (min-width: 992px) and (max-width: 1400px) {
  #rightSide #getStarted .bg-image {
    display: none !important;
  }
}
@media screen and (min-width: 1920px) {
  #rightSide #getStarted .bg-image {
    left: 75px;
    bottom: 90px;
    position: absolute;
    width: 1264.861px;
    background-repeat: no-repeat;
    height: 393.816px;
  }
}
#rightSide #getStarted .cardContent {
  width: 100%;
  border-top: 1px solid #232323;
  background: linear-gradient(90deg, rgba(35, 30, 40, 0.3) 0%, rgba(34, 29, 39, 0.3) 100%);
  backdrop-filter: blur(15px);
  padding: 40px 30px;
  gap: 70px;
  flex-shrink: 0;
}
#rightSide #getStarted .cardContent .title h3 {
  font-size: 42px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  background: linear-gradient(to right, #9E06CD, #3566E7);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
#rightSide #getStarted .cardContent .text {
  width: 714px;
  margin-top: 30px;
  display: flex;
  height: 112px;
  flex-direction: column;
}
#rightSide #getStarted .cardContent .text p {
  font-family: "Inter", sans-serif;
  color: var(--solid-dark-gray-d-75, #A1A6B4);
  font-size: 20px;
}
@media screen and (min-width: 370px) and (max-width: 991px) {
  #rightSide #getStarted .cardContent .text {
    width: auto !important;
    margin-top: 30px;
    display: flex;
    height: auto !important;
    flex-direction: column;
  }
}
#rightSide #getStarted .cardContent .navigationButtons {
  display: flex;
  align-items: center;
  margin-top: 30px;
}
#rightSide #getStarted .cardContent .navigationButtons .learnMore a {
  width: 123px;
  display: inline-flex;
  height: 48px;
  padding: 0px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  text-decoration: none;
  border-radius: 12px;
  border: 1px solid var(--outline-outline-medium, #CACDD5);
  background: var(--white, #FFF);
  color: var(--text-text-medium, #525C76);
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
}
#rightSide #getStarted .cardContent .navigationButtons .getStarted {
  margin-left: 20px;
}
#rightSide #getStarted .cardContent .navigationButtons .getStarted a {
  width: 125px;
  display: inline-flex;
  height: 48px;
  padding: 0px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  text-decoration: none;
  border-radius: 12px;
  border: 1px solid var(--outline-outline-medium, #CACDD5);
  background: var(--solid-primary-p-300, #2E6DF3);
  color: var(--solid-primary-p-50, #EAF0FE);
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  border-color: #2E6DF3;
}
#rightSide #getStarted .cardContent ul {
  margin-top: 70px;
  display: flex;
  align-items: flex-start;
  gap: 30px;
  align-self: stretch;
  padding: 0;
}
#rightSide #getStarted .cardContent ul .privacy {
  list-style: none;
  color: #FFF;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
}
#rightSide #getStarted .cardContent ul .Lightberry {
  list-style: none;
  color: var(--solid-dark-gray-d-200, #404B67);
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
}

.activeNavbar {
  background-color: #000 !important;
  border-color: #000 !important;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #1F1F20;
}

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #464545;
}

.no-scroll {
  overflow: hidden;
}

.activeHoverLiSubMenu {
    background-color: #232323;
    border-color: #232323;
}/*# sourceMappingURL=Styles.css.map */